:root {
  /* colores */
  --CFondo: #320339;
  --CPrincipal: #d891ab;
  --CSecundario: #f8b9a7;
  --CSombras: #4d1355;
  --CsombraClara: rgba(77, 19, 85 0.5);
  /* fuente */
  --Font: "Nunito", sans-serif;
}
/* generales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  background-color: var(--CFondo);
  font-family: var(--Font);
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
/* header */
.header {
  height: 5.5rem;
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 5px 0px rgba(20, 1, 23, 0.5);
}
.header__logo-img {
  width: 3rem;
}
.header__nav {
  width: 6rem;
  height: 6rem;
  position: relative;
}
.header-cerrar {
  opacity: 0;
}
/* presentacion */
.presentacion {
  margin: 2rem auto;
  text-align: center;
}
.presentacion__layaud {
  position: relative;
}
.presentacion__layaud-img,
.presnetacion__layaud-fondo {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  margin: 0 auto;
}
.presentacion__layaud-img {
  width: 15rem;
  border-radius: 50%;
  z-index: 2;
  filter: grayscale(5);
}
.presnetacion__layaud-fondo {
  width: 15rem;
  height: 22.5rem;
  background-color: rgba(216, 145, 171, 0.2);
  transform: rotate(25deg);
  border-radius: 50%;
}
.presentacion__titulo {
  width: 18rem;
  margin: 0 auto;
  margin-top: 25rem;
  font-weight: 700;
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--CPrincipal);
}
.presentacion__sub,
.presentacion__descripcion {
  color: var(--CSecundario);
}
.presentacion__sub {
  font-size: 2.5rem;
}
.presentacion__descripcion {
  width: 30rem;
  margin: 2.5rem auto;
}
/* sertificados  */
.sertificados {
  height: 16rem;
  padding: 1.5rem 0;
  display: flex;
  background-color: var(--CPrincipal);
  justify-content: space-evenly;
}
.sertificados__calidad,
.sertificados__personalizacion,
.sertificados__dedicacion {
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
  text-transform: capitalize;
}
.sertificados__personalizacion {
  margin-top: 6.8rem;
}
/* herramientas y productos  */
.productos__img {
  position: relative;
}
.productos__texto {
  font-size: 2rem;
  color: var(--CPrincipal);
}
.productos__texto span {
  color: var(--CSecundario);
  font-style: italic;
}
.productos__texto-productos {
  width: 24rem;
  margin: 2rem 0 0 2rem;
}
.productos__texto-herramientas {
  margin: 27rem 2rem 0 0;
  text-align: right;
}
.productos__img-herramientas,
.productos__img-productos,
.productos__img-sombra {
  width: 22rem;
  height: 19rem;
  background-color: var(--CSombras);
  border-radius: 0 60px 60px 0;
  position: absolute;
  top: 50px;
}
.productos__img-productos,
.productos__img-herramientas {
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center;
}
.productos__img-productos {
  background-image: url(../Img/productos.jpg);
  z-index: 2;
}
.productos__img-sombraProductos {
  margin: 0 0 0 15px;
}
.productos__img-sombraClaraProductos {
  margin: 0 0 0 30px;
  background-color: rgba(77, 19, 85, 0.5);
}
.productos__img-herramientas {
  background-image: url(../Img/herramientas.jpg);
  z-index: 2;
  top: 60px;
}
.productos__img-herramientas,
.productos__img-sombraHerramientas,
.productos__img-sombraClaraHerramientas {
  top: 60px;
  border-radius: 60px 0 0 60px;
  right: 0;
}
.productos__img-sombraHerramientas {
  margin: 0 15px 0 0;
}
.productos__img-sombraClaraHerramientas {
  margin: 0 30px 0 0;
  background-color: rgba(77, 19, 85, 0.5);
}
/* servicios  */
.servicios {
  margin-top: 300px;
  height: 600px;
  background-color: var(--CPrincipal);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.servicios__titulo {
  color: var(--CFondo);
  font-size: 3.5rem;
}
.servicios__wave-superior {
  width: 100%;
  height: 70px;
  transform: rotate(180deg);
  background-image: url(../Img/wave.svg);
  background-repeat: no-repeat;
  background-size: 600px;
}

.servicios__items {
  width: 210px;
  height: 330px;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1.5rem 0 0 3.7rem;
  box-shadow: -8px 7px 16.8px 3px rgba(77, 19, 85, 0.25);
  position: absolute;
  z-index: 2;
  background-color: var(--CPrincipal);
}
.servicios__item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.servicios__item p {
  font-size: 2.2rem;
}
.servicios__item img {
  width: 40px;
}
.servicios_wave-inferior {
  width: 100%;
  height: 70px;
  background-image: url(../Img/wave-abajo.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 600px;
  position: absolute;
  bottom: 0px;
  background-color: var(--CFondo);
}
.servicios__decoracion-img,
.servicios__decoracion-sombra,
.servicios__decoracion-sombraClara {
  width: 155px;
  height: 75px;
  position: absolute;
  top: 131px;
  right: -15px;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.9;
}
.servicios__decoracion-img {
  transform: rotate(20deg);
  background-image: url(../Img/capping.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.servicios__decoracion-sombra {
  transform: rotate(27deg);
  background-color: #b25a7b;
}
.servicios__decoracion-sombraClara {
  transform: rotate(35deg);
  background-color: rgba(178, 90, 123, 0.5);
}
.servicios__decoracionG-img,
.servicios__decoracionG-sombra,
.servicios__decoracionG-sombraClara {
  width: 194px;
  height: 102px;
  position: absolute;
  top: 433px;
  right: -35px;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.9;
}
.servicios__decoracionG-img {
  transform: rotate(20deg);
  background-image: url(../Img/sculpidas.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.servicios__decoracionG-sombra {
  transform: rotate(27deg);
  background-color: #b25a7b;
}
.servicios__decoracionG-sombraClara {
  transform: rotate(35deg);
  background-color: rgba(178, 90, 123, 0.5);
}
/* galeria  */
.galeria {
  margin-top: 5rem;
  text-align: center;
}
.galeria__titulo {
  color: var(--CPrincipal);
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.galeria__carrusel {
  display: flex;
  justify-content: space-evenly;
}
.galeria__btns {
  width: 60px;
}
.galeria__btns-izq {
  transform: rotate(180deg);
}
.galeria__imgs {
  position: relative;
  width: 212px;
  height: 180px;
}
.galeria__img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  left: 0;
  right: 0;
}
.galeria-shadow {
  position: absolute;
  width: 212px;
  height: 180px;
  border-radius: 100%;
  z-index: 1;
  box-shadow: 0px 0px 120px 1px rgba(248, 185, 167, 0.3);
}
.galeria__indicador {
  width: 21.2rem;
  height: 2rem;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
}
.galeria__indicador-items {
  width: 3.5rem;
  height: 100%;
  background-color: var(--CPrincipal);
  opacity: 0.6;
}
.galeria__indicador-items:first-child {
  border-radius: 0 0 0 5px;
}
.galeria__indicador-items:last-child {
  border-radius: 0 0 5px 0;
}
.indicador-activo {
  opacity: 1;
}
/* galeria instagram  */
.galeria__instagram {
  position: relative;
  margin: 3rem auto 1rem;
}
.galeria__instagram-btn {
  background-color: #d891ab;
  width: 7rem;
  height: 5rem;
  border-radius: 45px;
  margin: 0 auto;
}
.galeria__instagram-btn img {
  width: 5rem;
}
.galeria__instagram-mano {
  position: absolute;
  width: 5rem;
  left: 99px;
  top: 13px;
}
footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--CPrincipal);
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
}
.contacto-title {
  text-transform: capitalize;
  color: var(--CFondo);
  font-weight: 400;
  font-size: 3.5rem;
}
.contacto-divisor {
  width: 110px;
  height: 170px;
}
.contacto__botones {
  width: 150px;
  height: 100%;
}
.contacto-btn {
  position: relative;
}
.contacto__items {
  position: absolute;
}
.insta-fondo,
.logo-insta {
  top: 80px;
}
.insta-fondo {
  transform: rotate(180deg);
}
.logo-what,
.logo-insta {
  width: 5rem;
  z-index: 2;
  left: 10px;
}
.logo-what {
  top: 15px;
}
.what-fondo,
.insta-fondo {
  width: 73px;
}
